body{
  background-color: #bed0db;
  /* background-color: #ccdbbe; */
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
}
#hero{
  height: 95vh;
}

.heading{
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-style: normal;
  font-weight: bolder;
  font-size: 4rem;
  margin-top: 0;
}
.heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lead {
  font-size: 1rem;
  font-family: "DM Sans", sans-serif;
  /* margin: 0; */
  margin-bottom: 1rem;
}

#projectTitle {
  font-size: 2.5rem;
}

.tiny{
  font-size: 1rem;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.imp{
  font-weight: bold;
}

.btn{
  margin: 1rem;
  padding: 0.5rem;
  width: 125px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size:1rem;
}

.project-btn{
  width: 290px;
}

.cert-btn{
  width: 150px
}

/* .project-container {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-container:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.project-container {
  position: relative;
}

.project-content {  */
  /* Add opacity transition */
  /* transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;  */
  /* Initially fully opaque */
  /* opacity: 1; 
} */


img{
  border-radius: 50%;
}

.d-grid{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-device-width:960px) or (max-width:960px){

  #hero{
      height: 100%;
  }

  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  }

  .tiny{
      font-size: 1rem;
  }
}

@media (max-device-width:540px) or (max-width:540px){

  #hero{
      height: 100%;
  }
  
  .heading{
      font-size: 2.8rem;
  }

  .lead {
      font-size: 1rem;
  }

  .tiny{
      font-size: 0.8rem;
  }

  .hey{
      font-size: 0.8rem;
  }
}

















/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
